* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    list-style: none;
}

/*Header and Footer*/
.fixed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 76, 76);
    color: rgb(240,240,240);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10; 
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 12px;
}

#search-btn, #view-favorites, #toggle-theme, #filter-type {
    background-color: rgb(240, 76, 76);
    color: rgb(240,240,240);
    border: none;
    padding: 4px;
    border-radius: 3px;
    border-color: rgb(240,240,240);
    cursor: pointer;
    font-size: 14px;
}

#search-btn:hover, #view-favorites:hover, #toggle-theme:hover, #filter-type:hover {
    background-color: rgb(240,240,240);
    color: rgb(240, 76, 76);
}

#view-favorites, #toggle-theme {
    font-size: 22px;
    padding: 0.1px 10px;
}

.suggestions-box {
    color: black;
    position: absolute;
    top: 100%;  
    left: auto;
    right: 1%;
    width: 250px;
    opacity: 70%;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(204, 204, 204);
    border-top: none; 
    z-index: 10; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    max-height: 200px; 
    overflow-y: auto; 
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
    
}

.suggestion-item:hover {
    background-color: rgb(255, 203, 5); 
}


.fixed-footer {
    background-color: rgb(240, 76, 76);
    color: rgb(240,240,240);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.creator {
    text-decoration: none;
    color: inherit;
}

.creator:hover {
    color: rgb(0, 0, 0);
}

/*Cards grid*/
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 100px 20px 80px;
    align-self: center;
}

.pokemon-card {
    border: 2.5px solid rgb( 255, 203, 5);
    background-color: rgb(42, 117, 187);
    color: rgb(41, 38, 38);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    max-height: 350px;
}

.pokemon-card img {
    width: 50%;
    height: auto;
}

.star-btn {
    font-size: 25px;
    cursor: pointer;
    border: none;
    text-align: right;
    background: none;
    color: rgb(240,240,240);
    text-shadow: 0 0 5px rgb( 255, 203, 5);
    transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.star-btn.favorited {
    color: rgb(255, 0, 0); 
}

.star-btn span {
    display: inline-block; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.star-btn:hover span {
    transform: scale(1.2); 
    text-shadow: 0 0 3px rgb(255, 0, 0), 0 0 10px rgba(0, 0, 0, 0.3); 
}

/*Modal styles*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-content {
    background-color: rgb(255, 230, 131);
    border: 3px solid rgb( 255, 203, 5);
    padding: 15px;
    border-radius: 8px;
    width: 70%;
    text-align: center;
    font-size: 21.3px;
}

.close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*Dark mode*/
body.dark-mode {
    background-color:  rgb(51, 51, 51);
    color: rgb(240,240,240);
}

body.dark-mode .fixed-header, body.dark-mode .fixed-footer {
    background-color: rgb(205, 57, 57);
}

body.dark-mode .pokemon-card {
    background-color: rgb(0, 49, 83);
    color: rgb(240,240,240);
    border: 2.5px solid rgb(199, 160, 8);
}

body.dark-mode .pokemon-list {
    background-color: rgb(51, 51, 51);
}

body.dark-mode .modal-content {
    background-color: rgb(119, 102, 43);
}

body.dark-mode #search-btn, body.dark-mode #view-favorites,body.dark-mode  #toggle-theme, body.dark-mode #filter-type {
    background-color: rgb(205, 57, 57);
    color: rgb(34,34,36);
    border-color: rgb(34,34,36);
}

body.dark-mode #search-btn:hover, body.dark-mode #view-favorites:hover, body.dark-mode #toggle-theme:hover, body.dark-mode #filter-type:hover {
    background-color: rgb(34,34,36);
    color: rgb(205, 57, 57);
}

body.dark-mode .header-title {
    color: rgb(34,34,36);
}

body.dark-mode .suggestions-box {
    color: rgb(240,240,240);
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(51, 51, 51);
    border-top: none; 
}

body.dark-mode .suggestion-item:hover {
    color: rgb(78, 63, 12);
}