* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

/*Header and Footer*/
.fixed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 76, 76);
    color: rgb(255, 255, 255);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10; 
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 12px;
}

#search-btn, #view-favorites, #toggle-theme, #filter-type {
    background-color: rgb(240, 76, 76);
    color: rgb(255, 255, 255);
    border: none;
    padding: 4px;
    border-radius: 3px;
    border-color: white;
    cursor: pointer;
    font-size: 14px;
}

#search-btn:hover, #view-favorites:hover, #toggle-theme:hover, #filter-type:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(240, 76, 76);
}

#view-favorites, #toggle-theme {
    font-size: 22px;
    padding: 0.1px 10px;
}

.fixed-footer {
    background-color: rgb(240, 76, 76);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.creator {
    text-decoration: none;
    color: inherit;
}

.creator:hover {
    color: rgb(0, 0, 0);
}

/*Cards grid*/
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 100px 20px 80px;
    align-self: center;
}

.pokemon-card {
    border: 1.7px solid rgb(204, 204, 204);
    background-color: #7BB4E6;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.pokemon-card img {
    width: 180px;
    height: auto;
}

.star-btn {
    font-size: 17px;
    cursor: pointer;
    display: flex;
    border: none;
    background: none;
}



/*Modal styles*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-content {
    background-color: rgb(255, 230, 131);
    padding: 15px;
    border-radius: 8px;
    max-width: 400px;
    width: 80%;
    text-align: center;
    font-size: 21.3px;
}

.close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/*Dark mode*/
body.dark-mode {
    background-color:  rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

body.dark-mode .fixed-header, body.dark-mode .fixed-footer {
    background-color: rgb(205, 57, 57);
}

body.dark-mode .pokemon-card {
    background-color: rgb(8, 65, 82);
    color: rgb(255, 255, 255);
}

body.dark-mode .pokemon-list {
    background-color: rgb(51, 51, 51);
}

body.dark-mode .modal-content {
    background-color: rgb(182, 152, 49);
}

